@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'serif';
    background-color: rgb(241, 233, 233);
  }
}

.slick-slide > div {
  margin: 0 6px;
}

.slick-dots li.slick-active button:before {
  color: orange !important;
}
